<div class="container-fluid text-center ">
    <h1>About us</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nisi omnis natus, accusantium necessitatibus placeat a nulla cum, deleniti blanditiis. Reprehenderit accusantium libero, iure dicta. Rerum distinctio, eum ipsam consequuntur.</p>
</div>
